---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2

---
Language: Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
ColumnLimit: 0
Cpp11BracedListStyle: false
FixNamespaceComments: false
SortIncludes: false
UseTab: Never

---
