# EditorConfig is awesome: https://EditorConfig.org
#
# VisualStudio: https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options?view=vs-2017

# top-most EditorConfig file for this project (grepWin)
root = true

# Windows-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
[**.{h,c,cpp,hpp,cxx}]
# Set default charset
charset = utf-8
# 2 space indentation
indent_style = space
indent_size = 4
tab_width = 4

[**.{lang}]
charset = utf-8

[**.{ini}]
charset = utf-8-sig

[**.{rc}]
charset = latin1

[src/resource.h]
charset = latin1
